
body{
    background-color: rgb(255, 255, 255);
    text-align: inherit;
    width: 100%;
   
}
p{
    text-align: justify;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color:  rgba(0, 0, 0, 0.753);
    text-indent: 3ch;
  }
  h2{
    text-align: center;
    font-size: 30px;
    font-family: 'Lobster', cursive;;
    color:  rgba(0, 0, 0, 0.753);
  }
  main { 
      width: 1000px; 
      margin: auto; 
      padding: 50px;
      background-color:  rgb(233, 233, 227); 
     
  } 

#imagem-inicial{
    
    height: 600px;
    background-image: url(../img/norte.jpg);
    background-repeat: no-repeat;
    filter: brightness(40%);
    background-size: 100% 100%;
    background-color: rgb(255, 255, 255);
   
    
   
   
    
}
.o img{
    opacity: 0.65;
    width: 50%;
    height: 70%;
    position: absolute; 
    top: 80px;
    left: 350px;
}

.imagem-inicial h1{
    font-size: 75px;
   /* color: #726969;*/
   color: rgb(255, 249, 249);
    font-family: 'Anton', sans-serif;
   /* background-color: #a6abad;*/
    position: absolute; 
    left: 500px; /* posiciona a 90px para a esquerda */ 
    top: 230px;
}
.imagem-inicial h2{
    font-size: 75px;
   /* color: #726969;*/
   color: rgb(255, 249, 249);
    font-family: 'Anton', sans-serif;
   /* background-color: #a6abad;*/
    position: absolute; 
    left: 550px; /* posiciona a 90px para a esquerda */ 
    top: 450px;
    
}
.coluna{
    text-align: center;
}

#img1 img{
    float: right;
    padding: 20px;
}
#img2 img{
    float: left;
    padding: 20px;
}

@media  (min-width: 1025px){
    .menu_resp{
    display: none;
    }
    }
    
    @media  (max-width: 1024px){
    
       /* //colocar código de um css maior para a fonte aqui*/
       
       .menu{
           display: none;
       }
     
        
        .menu_resp a{
            font-size: 40px;
        }
        
        .coluna{
   
            width: 98%;
           
           
            font-size: 20px;
            
            
          }
          body{
                width: 1000px; 
                margin: auto; 
          }
    }
        /*//alterar posição da seta*/
        
        /*  //colocar uma foto recordada no fundo do site*/
    
    
    .dropbtn {
        background-color: #86c9f0;
        color:white;
        padding: 16px;
        font-size: 35px;
        border: none;
        cursor: pointer;
      }
      
      /* The container <div> - needed to position the dropdown content */
      .dropdown {
        position: relative;
        display: inline-block;
      }
      
      /* Dropdown Content (Hidden by Default) */
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
      }
      
      /* Links inside the dropdown */
      .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }
      
      /* Change color of dropdown links on hover */
      .dropdown-content a:hover {
          background-color: #f1f1f1
    }
      
      /* Show the dropdown menu on hover */
      .dropdown:hover .dropdown-content {
        display: block;
        background-color: #f1f1f1
      }
      
      /* Change the background color of the dropdown button when the dropdown content is shown */
      .dropdown:hover .dropbtn {
        background-color: #ffffff;
        color: black;
      }


